
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		<meta charset="utf-8" />
		<title>RESULTS PORTAL | STAFF</title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="{% static 'new/Dashboard/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="{% static 'new/Dashboard/dist/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/header/base/light.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/header/menu/light.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/brand/dark.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/aside/dark.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="{% static 'new/Dashboard/dist/assets/media/logos/favicon.ico' %}" />


	</head>
	<style>
		.bgc{
			background: #c93a79 ;
		}
		.side{
			background: #6861be ;
		}

	</style>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

{% load crispy_forms_tags %}


<div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                      <h3 class="h3 text-center">Account Registration</h3>
                </div>
                  <span class="mb-0 text-muted">
                <!--{% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Login page
                {% endif %}-->
              </span>
                <form  method="post">
                    {% csrf_token %}
                  <div class="form-group first">
                    <label for="username">Username</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                      {{ form.email}}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                      {{ form.password1 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">confirm Password</label>
                      {{ form.password2 }}
                  </div>

                  <!--<div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Admin</label>
                    {{ form.is_admin }}
                    <div class="control__indicator"></div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Active</label>
                    {{ form.is_active}}
                    <div class="control__indicator"></div>
                  </div>-->
                  <div>
                    <h1>Select a Role</h1>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Student</label>
                    {{ form.is_student }}
                    <div class="control__indicator"></div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Staff member</label>
                    {{ form.is_teacher}}
                    <div class="control__indicator"></div>
                  </div>




                <!--<div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Staff</span>
                        {{ form.is_admin }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
              
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-4"><span class="caption">Student</span>
                        {{ form.is_active }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>  -->
                    <span class="text-error">{{ form.errors }}</span>
                    
                  <input type="submit"  value="Register User" class="btn btn-pill text-white btn-block btn-primary">
                </form>
                <div class="mt-4">
                  <div class="d-flex justify-content-center links">
                 Already have an account ?<a href="{% url 'login' %}" class="ml-2 text-info">Back to login</a>
                  </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






















<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
<!--end::Global Config-->
  <!--begin::Global Theme Bundle(used by all pages)-->
<script src="{% static 'new/Dashboard/dist/assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'new/Dashboard/dist/assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'new/Dashboard/dist/assets/js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'new/Dashboard/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'new/Dashboard/dist/assets/js/pages/widgets.js' %}"></script>
<!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>
