
{% load static %}

<!DOCTYPE html>
<html>
	<style>
		.bg{
		background-color : #f5f8fa;
		}
	</style>
    <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
          <a href="{% url 'login' %}" style="font-size: 25px;font-weight: 600;float:right;margin-top: -99px;
    margin-right: 50px;">Back</a>
        <main>
            <p style="font-size: 19px;font-weight: 60;color:rgb(44, 62, 66);margin-top: 160px;">We have sended you reset password link on your email. Please Check Your Email. If user registered with that email exists should  receive the link , otherwise not registered</p>
        </main>
    </body>

</html>

<!--<!DOCTYPE html>
<html lang="en">
	
	<head><base href="">
		<meta charset="utf-8" />
		<title>RESULTS PORTAL | Dashboard</title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		
		<link href="{% static 'new/Dashboard/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
	
		<link href="{% static 'new/Dashboard/dist/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/header/base/light.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/header/menu/light.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/brand/dark.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/aside/dark.css' %}" rel="stylesheet" type="text/css" />
	
		<link rel="shortcut icon" href="{% static 'Dashboard/dist/assets/media/logos/favicon.ico' %}" />
	</head>
<style>
	.bgc{
		background-color:  #f5f8fa;
	}
</style>
<body class="bgc">

<h3> Password reset sent</h3>

<p> We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</P>
    <p>If you don.t receive and email, please make sure you've entered the correct email address you registered with, and check your spam folder.</p>


	<script src="{% static 'new/Dashboard/dist/assets/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'new/Dashboard/dist/assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
		<script src="{% static 'new/Dashboard/dist/assets/js/scripts.bundle.js' %}"></script>
	
		<script src="{% static 'new/Dashboard/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
	
		<script src="{% static 'new/Dashboard/dist/assets/js/pages/widgets.js' %}"></script>
		</body>
</html>    -->
