
{% load static %}


<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" id="">
<script src="{% static 'bootstrap/css/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery/jquery-1.11.1.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <div class="form-gap" style="padding-top: 70px;"></div>
    <div class="container">
    <h2 style="text-align-last: center;">Password reset complete</h2>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center ">
                    Your password has been set. You may go ahead and log in now.
                    <a href="{% url 'login' %}">Click here to Login</a>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>


<!--<!DOCTYPE html>
<html lang="en">

	<head><base href="">
		<meta charset="utf-8" />
		<title>RESULTS PORTAL | Dashboard</title>
		<meta name="description" content="Updates and statistics" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		
		<link href="{% static 'new/Dashboard/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		
		<link href="{% static 'new/Dashboard/dist/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/header/base/light.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/header/menu/light.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/brand/dark.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'new/Dashboard/dist/assets/css/themes/layout/aside/dark.css' %}" rel="stylesheet" type="text/css" />
	
		<link rel="shortcut icon" href="{% static 'Dashboard/dist/assets/media/logos/favicon.ico' %}" />
	</head>
<style>
	.bgc{
		background-color:  #f5f8fa;
	}
</style>
<body class="bgc">


<h3>Password reset complete</h3>
<p> Your password has been set. You may go ahead and login now</p>
<a href="{% url 'login' %}">Login</a>

	<script src="{% static 'new/Dashboard/dist/assets/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'new/Dashboard/dist/assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
		<script src="{% static 'new/Dashboard/dist/assets/js/scripts.bundle.js' %}"></script>
		
		<script src="{% static 'new/Dashboard/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
	
		<script src="{% static 'new/Dashboard/dist/assets/js/pages/widgets.js' %}"></script>
		</body>
</html>
-->